@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #151515;
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: receiptor;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.splash img {
  width: 15vh;
  max-width: 216px;
  height: auto;
}

.splash__text {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  align-items: center;
}

.splash__text h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0;
}

.splash__text h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
  animation-name: text;
  animation-duration: 1s;
  animation-delay: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes text {
  from {
    letter-spacing: 0px;
  }
  to {
    letter-spacing: 2px;
  }
}

@keyframes receiptor {
  from {
      transform: scale(0);
      opacity: 0.25;
  }
  50% {
      transform: scale(1);
      opacity: 0.5;
  }
  to {
    margin-bottom: 100px;
    opacity: 1;
  }
}

@media screen and (max-width: 650px) {
  .splash {
    flex-direction: column;
  }

  .splash__text h2 {
    display: none;
  }
}
